<%layout("./layouts/boilerplate")%>
<body>
    <h3>Editing the Listing</h3>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
            <div class="valid-feedback">Title looks good</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" rows="5" cols="10" class="form-control" required><%=listing.description%></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
            <h4>Original image</h4>
            <img src=<%=original%> style="width: 300px;height: 300px; object-fit: cover;">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">upload Image</label>
            <input type="file" name="listing[image]" placeholder="Upload image " class="form-control" >
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="listing[category]" class="form-control" required>
                <option disabled>Select a category</option>
                <option value="mountains" <%= listing.category === "mountains" ? "selected" : "" %>>Mountains</option>
                <option value="arctic" <%= listing.category === "arctic" ? "selected" : "" %>>Arctic</option>
                <option value="farms" <%= listing.category === "farms" ? "selected" : "" %>>Farms</option>
                <option value="deserts" <%= listing.category === "deserts" ? "selected" : "" %>>Deserts</option>
                <option value="pool" <%= listing.category === "pool" ? "selected" : "" %>>Pool</option>
                <option value="castles" <%= listing.category === "castles" ? "selected" : "" %>>Castles</option>
                <option value="beach" <%= listing.category === "beach" ? "selected" : "" %>>Beach</option>
                <option value="forest" <%= listing.category === "forest" ? "selected" : "" %>>Forest</option>
                <option value="camping" <%= listing.category === "camping" ? "selected" : "" %>>Camping</option>
                <option value="skiing" <%= listing.category === "skiing" ? "selected" : "" %>>Skiing</option>
                <option value="countryside" <%= listing.category === "countryside" ? "selected" : "" %>>Countryside</option>
                <option value="urban" <%= listing.category === "urban" ? "selected" : "" %>>Urban</option>
                <option value="historic" <%= listing.category === "historic" ? "selected" : "" %>>Historic</option>
                <option value="luxury" <%= listing.category === "luxury" ? "selected" : "" %>>Luxury</option>
                <option value="treehouse" <%= listing.category === "treehouse" ? "selected" : "" %>>Treehouse</option>
                <option value="cabin" <%= listing.category === "cabin" ? "selected" : "" %>>Cabin</option>
                <option value="tinyhome" <%= listing.category === "tinyhome" ? "selected" : "" %>>Tiny Home</option>
                <option value="boat" <%= listing.category === "boat" ? "selected" : "" %>>Boat</option>
                <option value="wildlife" <%= listing.category === "wildlife" ? "selected" : "" %>>Wildlife</option>
                <option value="room" <%= listing.category === "room" ? "selected" : "" %>>Room</option>
                <option value="iconic" <%= listing.category === "iconic" ? "selected" : "" %>>Iconic</option>
                <option value="farm" <%= listing.category === "farm" ? "selected" : "" %>>Farm</option>
            </select>
        </div>
        <div class="row">
            <div class="mb-3 col-mid-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                <div class="invalid-feedback">Please Enter a valid price</div>
            </div>
            <div class="mb-3 col-mid-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        <button class="btn btn-dark add-btn">Edit</button>
    </form>
</body>